@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">NO</th>
                <th scope="col">Lesson</th>
                <th scope="col">Question</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var j in Model)
            {
                <tr>
                    <td class="nr td-actions text-center"></td>
                    <td>@j.Lesson</td>
                    <td>@j.Question</td>
                    @*<td>@j.Answer1</td>*@
                    <td><a href="/Home/UpdateQuiz/@j.Id">Update</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        @{
            int numberPage = (int)ViewBag.numberPage;
            int pageCurrent = ViewBag.pageCurrent;

            if (pageCurrent > 1)
            {
                int prePage = pageCurrent - 1;
                <li class="page-item">
                    <a class="page-link" href="?page=@prePage" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            }

            int i;
            for (i = 1; i < numberPage; i++)
            {
                if (i == pageCurrent)
                {
                    <li class="active page-item"><a class="page-link" href="?page=@i">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a href="?page=@i">@i</a></li>
                }
            }

            if (pageCurrent >= 1 && pageCurrent < numberPage - 1)
            {
                int nextPage = pageCurrent + 1;
                <li class="page-item">
                    <a class="page-link" href="?page=@nextPage" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            }
        }
    </ul>
</nav>

<script type="text/javascript">
    var a = document.getElementsByClassName("nr");
    for (var i = 0; i < a.length; i++) {
        a[i].innerHTML = (i + 1);
    }
</script>